version: '2'
services:
  builder:
    build: ./
    image: superboucle-builder
    stdin_open: true
    tty: true
    environment:
      - DISPLAY=:0
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /dev/shm:/dev/shm
